/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  overflow: auto;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #01684f;
  --ternary-color: rgb(245, 130, 32);
  --white-shade-1: #f0f0f0;
  --transition: all 300ms ease-in;
  --font-heading: "Montserrat", sans-serif;
  --font-text: "Calibri", arial;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --padding-regular-1: 2rem;
  --padding-regular-2: 1rem;
  --padding-regular-3: 0.75rem;
  --padding-regular-4: 0.25rem;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dashboard-section {
  width: 100vw;
  /* min-height: 100vh; */
  position: relative;
  overflow-x: hidden;
}

/* mobile sectoin */

/* mobile navbar */
#mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
}

.mobile-navbar__logo {
  width: 10rem;
}

#sidebar-button {
  position: absolute;
  bottom: 35%;
  right: 5%;
  z-index: 1000;
  background: transparent;
  border: none;
}

.sidebar-button__bar-one,
.sidebar-button__bar-two {
  width: 30px;
  height: 4px;
  background: var(--primary-color);
  margin-bottom: 5px;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border-radius: 5px;
}

.sidebar-button__bar-one-active {
  -webkit-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

.sidebar-button__bar-two-active {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-4px) rotate(-45deg);
}

.mobile-sidebar {
  margin-top: 5rem;
  position: absolute;
  width: 100%;
  height: calc(100vh - 5rem);
  bottom: 0;
  right: 0;
  background: var(--secondary-color);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 2;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.mobile-sidebar-logo-container {
  padding: 0.75rem;
}

.mobile-sidebar-sidebar-container {
  overflow: auto;
  padding: 0.45rem;
  background: var(--ternary-color);
  height: 100%;
}
.active-sidebar {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mobile-sidebar__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 10px;
  background: var(--primary-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2rem 1fr;
  grid-template-columns: auto 1fr;
  -ms-flex-line-pack: center;
  align-content: center;
  gap: 0 2rem;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.95);
}

.mobile-sidebar__logo-container__logo {
  width: 80px;
  border: 6px solid var(--ternary-color);
  border-radius: 50%;
  overflow: hidden;
}

.mobile-sidebar__logo-container h1 {
  color: black;
  /* margin-top: 1rem; */
  font-size: 1.5rem;
  font-weight: bold;
  /* text-transform: capitalize; */
  letter-spacing: 1px;
  font-family: var(--font-secondary);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.sidebar-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  background: var(--white-shade-1);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.75);
}

/* sidebar buttons  */
.sidebar-buttons-container button {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.25rem 1fr;
  grid-template-columns: 3.25rem 1fr;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  text-align: left;
  border: none;
  margin-bottom: 1rem;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 0.75rem;
  letter-spacing: 1px;
  /* text-transform: capitalize; */
  font-weight: bold;
  font-family: var(--font-primary);
  color: black;
  border-radius: 5px;
}

.sidebar-buttons-container button:hover {
  border-left: 4px solid var(--secondary-color);
  background-color: rgba(1, 104, 79, 0.85);
  color: var(--primary-color);
}

.sidebar-buttons-container button i {
  font-size: 1.25rem;
  pointer-events: none;
}

.sidebar-button-active {
  border-left: 5px solid var(--secondary-color) !important;
  background-color: var(--primary-color);
  color: var(--ternary-color) !important;
}

.sidebar {
  display: none;
}

#loader-verify {
  display: none;
}

.tabs-navbar {
  display: none;
}

.otp-container {
  display: none;
}

.tabs {
  min-height: 100vh;
  background: var(--primary-color);
  position: relative;
}

#main-form {
  margin-top: 5rem;
  width: 90vw;
  padding-top: 5rem;
}

#i-eAadhaar {
  /* border-left: 2px solid var(--secondary-color); */
  /* transition: all 1000ms ease-in-out; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.markedfields {
  position: absolute;
  top: 14%;
  right: 6%;
  font-size: 12px;
  color: red;
  font-weight: bold;
}

#profile {
  width: 100%;
  height: 100%;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  /* border-left: 2px solid var(--secondary-color); */
  display: none;
}

.animation {
  -webkit-animation: fade-in 200ms ease-in-out;
  animation: fade-in 200ms ease-in-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.notes {
  background-color: var(--white-shade-1);
  border-radius: 10px;
  font-size: 0.5rem;
  margin-top: 10px;
  padding: 0.75rem 0.75rem 0.25rem 0.75rem;
}

.notes ul {
  margin-left: 3rem;
}
.notes ul li {
  margin-bottom: 5px;
}

.forms {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
}

.forms form {
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.forms form .common {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  font-size: 0.85rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.forms form label {
  /* width: 10rem; */
  font-weight: bold;
}

.forms form input {
  height: 1.75rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--white-shade-1);
  border: none;
  border-radius: 5px;
}

.forms form input::-webkit-input-placeholder {
  letter-spacing: 0.5px;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 13px;
}

.forms form input::-moz-placeholder {
  letter-spacing: 0.5px;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 13px;
}

.forms form input:-ms-input-placeholder {
  letter-spacing: 0.5px;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 13px;
}

.forms form input::-ms-input-placeholder {
  letter-spacing: 0.5px;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 13px;
}

.forms form input::placeholder {
  letter-spacing: 0.5px;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 13px;
}

.forms form input:focus {
  background-color: var(--primary-color);
  outline: 2px solid var(--secondary-color);
}

.forms form .address .address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.forms form .address label {
  -ms-flex-item-align: start;
  align-self: flex-start;
  letter-spacing: 0.5px;
}

.forms form .address div input {
  margin-bottom: 0.25rem;
}

.forms form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.forms form .buttons button {
  padding: 1rem;
  margin-right: 1rem;
  border: none;
  background: var(--ternary-color);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: var(--font-heading);
  font-weight: bolder;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  letter-spacing: 1px;
}

.forms form .buttons button:hover {
  border: 2px solid black;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.forms form .buttons button:nth-child(2) {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.aadhar-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20rem;
}

.aadhar-inputs span {
  padding: 0 2px 0 2px;
}

.aadhar-inputs input {
  width: 4rem !important;
}

.name-fail,
.dob-fail,
.aadhar-fail,
.address-fail {
  margin-left: 2rem;
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: red;
  font-size: 0.5rem;
  padding-bottom: 5px;
  font-size: bold;
}

.name-fail p,
.dob-fail p,
.aadhar-fail p,
.address-fail p,
.fail p,
.success p {
  margin-left: 5px;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.preloader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.preloader-container .preloader-tub {
  display: none;
  margin-left: 15px;
}

.preloader-container .preloader-tub .preloader {
  border: 3.5px solid #f3f3f3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-top: 3.5px solid #3498db;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.success {
  color: var(--secondary-color);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 15px;
  padding-bottom: 5px;
  font-size: 0.5rem;
}

.fail {
  color: red;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 15px;
  padding-bottom: 5px;
  font-size: 0.5rem;
}

.preloader-container .success i {
  margin-right: 10px;
}

.preloader-container .fail i {
  margin-right: 10px;
}

.preloader-container p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
}

/* media screen 1024 ======================== */

@media screen and (min-width: 1024px) {
  #mobile-navbar {
    display: none;
  }
  .dashboard-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15vw 1fr;
    grid-template-columns: 15vw 1fr;
  }

  .mobile-sidebar {
    display: none;
  }

  #sidebar-button {
    display: none;
  }

  /* sidebar section */

  .sidebar {
    width: 20vw;
    height: 100%;
    background: var(--white-shade-1);
    /* position: fixed;
    left: 0;
    top: 0; */
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh 2rem 1fr;
    grid-template-rows: 12vh 1fr;
    row-gap: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* sidebar navbar */
  .sidebar-navbar {
    width: 100%;
    height: 10vh;
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0rem 0 1.5rem;
    /* border-bottom: 4px solid var(--secondary-color); */
  }

  .inactive {
    display: none;
  }

  .sidebar-navbar img {
    height: 40px;
    width: 80%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 10px;
  }

  .sidebar-navbar button {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }

  .sidebar-navbar button i {
    pointer-events: none;
    font-size: 1.5rem;
  }

  /* sidebar buttons container */
  .sidebar-buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 0 1rem 0.652rem;
    background-color: var(--white-shade-1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* sidebar buttons  */
  .sidebar-buttons-container button {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3.25rem 1fr;
    grid-template-columns: 3.25rem 1fr;
    padding: 1rem 1rem 1rem 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: left;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-size: 0.75rem;
    letter-spacing: 1px;
    /* text-transform: capitalize; */
    font-weight: bold;
    font-family: var(--font-primary);
    color: #b2b1b9;
  }

  .sidebar-buttons-container button:hover {
    border-left: 4px solid var(--secondary-color);
    background-color: rgba(1, 104, 79, 0.85);
    color: var(--primary-color);
  }

  .sidebar-buttons-container button i {
    font-size: 1.75rem;
    pointer-events: none;
  }

  .sidebar-button-active {
    border-left: 5px solid var(--secondary-color) !important;
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
  }

  /* tabs container sections */
  .tabs-container {
    width: 80vw;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: var(--white-shade-1);
  }

  .tabs-container-active {
    width: 94.2vw;
  }

  /* tabs container navbar */
  .tabs-navbar {
    height: 10vh;
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2rem 0 1rem;
    /* border-bottom: 4px solid var(--secondary-color); */
  }

  .profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: var(--primary-color);
  }

  .profile-container > div {
    /* align-self: flex-start; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .profile-container > div span {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }

  .profile-container figure {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    background: var(--ternary-color);
    margin-left: 1rem;
    cursor: pointer;
  }

  .profile-container:hover .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .profile-container figure img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border: 3px solid var(--ternary-color);
    border-radius: 100%;
  }

  .profile-container .submenu {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--primary-color);
    z-index: 2;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    -webkit-animation: fade-out 200ms;
    animation: fade-out 200ms;
    margin-top: 0rem;
    width: 200px;
    /* height: 400px; */
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.5rem;
    transition: all 200ms ease-in-out;
  }

  .showSubmenu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  @-webkit-keyframes fade-out {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .profile-container .submenu i {
    pointer-events: none;
    font-size: 18px;
    padding: 0.5rem;
    margin-left: 5px;
  }

  .profile-container .submenu button {
    width: 100%;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    border-bottom: 2px solid var(--white-shade-1);
  }
  .profile-container .submenu button span {
    margin-left: 1rem;
  }

  .profile-container .submenu button:hover {
    background-color: rgba(1, 104, 79, 0.85);
    color: white;
    border-left: 5px solid var(--ternary-color);
  }

  /* tabs container tabs */
  .tabs {
    width: 100%;
    min-height: calc(100vh - 10vh);
    background: var(--white-shade-1);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .tabs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: var(--ternary-color);
  }

  /* tabs container dashboard  */
  #i-eAadhaar {
    width: 100%;
    min-height: calc(100vh - 10vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease-in-out;
    transition: all 1000ms ease-in-out;
    padding: 0rem 0 0 10rem;
  }

  .markedfields {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 13px;
    color: red;
    font-weight: bold;
  }
  #profile {
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    /* border-left: 2px solid var(--secondary-color); */
    display: none;
  }

  .animation {
    -webkit-animation: fade-in 700ms ease-in-out;
    animation: fade-in 700ms ease-in-out;
  }

  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    /* padding: 0.5rem 0 0 10rem; */
  }

  #main-form {
    width: 50%;
    padding: 0;
    margin-top: 0;
  }

  .notes {
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    background-color: var(--white-shade-1);
    border-radius: 10px;
    font-size: 0.75rem;
    margin-top: 10px;
    /* width: 65%; */
  }
  .notes ul {
    margin-left: 3rem;
  }
  .notes ul li {
    margin-bottom: 5px;
  }

  .forms form {
    background-color: var(--primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .forms form .common {
    /* display: flex;
  justify-content: space-between;
  align-items: center; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
    font-size: 0.85rem;
    font-family: var(--font-primary);
    margin-bottom: 0.5rem;
  }

  .forms form label {
    width: 10rem;
    margin-right: 2rem;
    font-weight: bold;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .forms form input {
    /* height: 1.75rem; */
    width: 100%;
    padding: 1.15rem;
    background-color: var(--white-shade-1);
    border: none;
    border-radius: 5px;
  }

  .forms form input::-webkit-input-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .forms form input::-moz-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .forms form input:-ms-input-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .forms form input::-ms-input-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .forms form input::placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .forms form input:focus {
    background-color: var(--primary-color);
    outline: 2px solid var(--secondary-color);
  }

  .forms form .address .address-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .forms form .address label {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    letter-spacing: 0.5px;
  }

  .forms form .address div input {
    margin-bottom: 0.25rem;
  }

  .forms form .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }

  .forms form .buttons button {
    padding: 1rem;
    margin-right: 1rem;
    border: none;
    background: var(--ternary-color);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: var(--font-heading);
    font-weight: bolder;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    letter-spacing: 1px;
  }

  .forms form .buttons button:hover {
    border: 2px solid black;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .forms form .buttons button:nth-child(2) {
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .aadhar-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20rem;
  }

  .aadhar-inputs span {
    padding: 0 5px 0 5px;
  }

  .aadhar-inputs input {
    width: 5rem !important;
  }
  .preloader-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .preloader-container .preloader-tub {
    display: none;
    margin-left: 15px;
  }

  .preloader-container .preloader-tub .preloader {
    border: 3.5px solid #f3f3f3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-top: 3.5px solid #3498db;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
  }

  .preloader-container .success {
    color: var(--secondary-color);
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px;
  }

  .preloader-container .fail {
    color: red;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px;
  }

  .preloader-container .success i {
    margin-right: 10px;
  }

  .preloader-container .fail i {
    margin-right: 10px;
  }

  .preloader-container p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
  }

  .name-fail,
  .dob-fail,
  .aadhar-fail,
  .address-fail {
    margin-left: 2rem;
    display: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: red;
    font-size: 0.65rem;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .name-fail p,
  .dob-fail p,
  .aadhar-fail p,
  .address-fail p,
  .fail p,
  .success p {
    margin-left: 5px;
  }

  .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .success {
    color: var(--secondary-color);
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 15px;
    padding-bottom: 5px;
    font-size: 0.75rem;
  }

  .fail {
    color: red;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 15px;
    padding-bottom: 5px;
    font-size: 0.65rem;
    font-weight: bold;
  }

  /* Otp section */

  .otp-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .otp-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 25rem;
    -webkit-box-shadow: 0 0 6px 8px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 6px 8px rgba(255, 255, 255, 0.6);
  }

  .otp-form .info {
    margin-bottom: 1rem;
  }

  .otp-form .messages {
    position: relative;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .otp-form .messages .success {
    color: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .otp-form .messages .success i {
    margin-right: 10px;
  }

  .otp-form .messages .fail {
    color: red;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .otp-form .messages .fail i {
    margin-right: 10px;
  }

  /* .otp-form .messages .fail span {
  display: inline-block;
} */

  .otp-form .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
  }

  .otp-form .buttons button {
    padding: 0.75rem;
    margin-right: 1rem;
    border: none;
    background: var(--ternary-color);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: var(--font-heading);
    font-weight: bolder;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    letter-spacing: 1px;
  }

  .otp-form .buttons button:hover {
    border: 2px solid black;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .otp-form .buttons button:nth-child(2),
  .otp-form .buttons button:nth-child(3) {
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .otp-form input {
    height: 2rem;
    width: 20rem;
    padding: 1.15rem;
    background-color: var(--white-shade-1);
    border: none;
    border-radius: 5px;
  }

  .otp-form input::-webkit-input-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .otp-form input::-moz-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .otp-form input:-ms-input-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .otp-form input::-ms-input-placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .otp-form input::placeholder {
    letter-spacing: 0.5px;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 13px;
  }

  .otp-form input:focus {
    background-color: var(--primary-color);
    outline: 2px solid var(--secondary-color);
  }

  .otp-form .preloader-container-2 {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .otp-form .preloader-container-2 .preloader {
    border: 3.5px solid #f3f3f3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-top: 3.5px solid var(--secondary-color);
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
  }
  .otp-form .preloader-container-2 p {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
  }

  .disabled {
    background: rgba(255, 255, 255, 0.8);
    cursor: none;
  }

  /*  loader*/

  .dial {
    height: 600px;
    width: 600px;
    -webkit-filter: drop-shadow(5px 5px 0.5px rgba(245, 130, 32, 0.85));
    filter: drop-shadow(5px 5px 0.5px rgba(245, 130, 32, 0.85));
    /* background-color: brown; */
  }

  .timer {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.25);
  }

  .timer input {
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
  }

  .timer button {
    border: none;
    font-size: 36px;
    cursor: pointer;
  }

  .timer button:focus {
    outline: none;
  }

  .timer input:focus {
    outline: none;
  }

  .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .infoo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .infoo h1 {
    letter-spacing: 1px;
    text-shadow: 0 0 2px 1px rgb(245, 130, 32);
    color: var(--secondary-color);
    text-align: center;
    text-transform: capitalize;
  }

  /**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
  .dot-flashing {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 1.75rem;
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ff4c00;
    color: #ff4c00;
    -webkit-animation: dotFlashing 1s infinite linear alternate;
    animation: dotFlashing 1s infinite linear alternate;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .dot-flashing::before,
  .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .dot-flashing::before {
    left: -15px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ff4c00;
    color: #ff4c00;
    -webkit-animation: dotFlashing 1s infinite alternate;
    animation: dotFlashing 1s infinite alternate;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  .dot-flashing::after {
    left: 15px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ff4c00;
    color: #ff4c00;
    -webkit-animation: dotFlashing 1s infinite alternate;
    animation: dotFlashing 1s infinite alternate;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  @-webkit-keyframes dotFlashing {
    0% {
      background-color: #ff4c00;
    }
    50%,
    100% {
      background-color: #ebe6ff;
    }
  }

  @keyframes dotFlashing {
    0% {
      background-color: #ff4c00;
    }
    50%,
    100% {
      background-color: #ebe6ff;
    }
  }

  #loader-verify {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    width: 15vw;
  }

  .tabs-container {
    width: 85vw;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: var(--white-shade-1);
  }

  .tabs-container-active {
    width: 95vw;
  }
}
