<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eKYC-Home</title>
    <link rel="stylesheet" href="./dashboardOne.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/regular.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/solid.min.css"
    />
  </head>
  <body>
    <!-- dashboard one section -->
    <section class="dashboard-section">
      <!-- ======================================== -->
      <!-- mobile version -->
      <nav id="mobile-navbar">
        <figure class="mobile-navbar__logo">
          <img src="../../assests/logo/idbi-bank-logo.svg" alt="" />
        </figure>
        <button id="sidebar-button">
          <div class="sidebar-button__bar-one"></div>
          <div class="sidebar-button__bar-two"></div>
        </button>
      </nav>

      <aside id="mobile-sidebar" class="mobile-sidebar">
        <div class="mobile-sidebar-logo-container">
          <div class="mobile-sidebar__logo-container">
            <figure class="mobile-sidebar__logo-container__logo">
              <img src="../../assests/logo/logo2.png" alt="" />
            </figure>
            <h1>Aditya Harendra Mall</h1>
          </div>
        </div>

        <div class="mobile-sidebar-sidebar-container">
          <div class="sidebar-buttons-container">
            <a
              th:href="@{/productPage}"
              style="width: 100%; text-decoration: none"
            >
              <button class="sidebarButton">
                <i class="fa-solid fa-circle-left"></i>
                <span>Back to Dashboard</span>
              </button>
            </a>
            <button class="sidebarButton sidebar-button-active">
              <i class="fa fa-home"></i> <span>i-eAadhaar</span>
            </button>
            <!-- <button class="sidebarButton">
					<i class="fa fa-user"> </i> <span>profile</span>
				</button> -->

            <button class="sidebarButton">
              <i class="fa fa-gear"></i> <span>settings</span>
            </button>
            <button class="sidebarButton">
              <i class="fa fa-user" aria-hidden="true"></i> <span>user</span>
            </button>
            <button class="sidebarButton">
              <i class="fa fa-language" aria-hidden="true"></i>
              <span>language</span>
            </button>
            <button class="sidebarButton">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span>help</span>
            </button>
            <a th:href="@{/logout}" style="width: 100%; text-decoration: none">
              <button>
                <i class="fa fa-sign-out" aria-hidden="true"></i
                ><span>Logout</span>
              </button>
            </a>
          </div>
        </div>
      </aside>

      <!-- mobile version end -->
      <!-- ========================================== -->

      <aside class="sidebar">
        <nav class="sidebar-navbar">
          <!-- <figure class="inactive" id="logo1">
            <img src="../../assests/logo/idbi-symbol.png" />
          </figure> -->
          <button>
            <i class="fa fa-bars"></i>
          </button>
          <figure id="logo2">
            <img src="../../assests/logo/idbi-bank-logo.svg" alt="" />
          </figure>
        </nav>
        <div class="sidebar-buttons-container">
          <a
            th:href="@{/productPage}"
            style="width: 100%; text-decoration: none"
          >
            <button class="sidebarButton">
              <i class="fa-solid fa-circle-left"></i>
              <span>Back to Dashboard</span>
            </button>
          </a>
          <button class="sidebarButton sidebar-button-active">
            <i class="fa fa-home"></i> <span>i-eAadhaar</span>
          </button>
          <!-- <button class="sidebarButton">
					<i class="fa fa-user"> </i> <span>profile</span>
				</button> -->
        </div>
      </aside>

      <div class="tabs-container">
        <nav class="tabs-navbar">
          <div class="profile-container">
            <div>
              <h1>Welcome, Aditya Harendra Mall</h1>
            </div>

            <figure>
              <img th:src="@{assests/logo/logo2.png}" alt="" />
            </figure>
            <div class="submenu">
              <button><i class="fa fa-gear"></i><span>Settings</span></button>
              <button>
                <i class="fa fa-user" aria-hidden="true"></i><span>User</span>
              </button>
              <button>
                <i class="fa fa-language" aria-hidden="true"></i
                ><span>Language</span>
              </button>
              <button>
                <i class="fa fa-info-circle" aria-hidden="true"></i
                ><span>Help</span>
              </button>
              <a
                th:href="@{/logout}"
                style="width: 100%; text-decoration: none"
              >
                <button>
                  <i class="fa fa-sign-out" aria-hidden="true"></i
                  ><span>Logout</span>
                </button>
              </a>
            </div>
          </div>
        </nav>
        <div class="tabs">
          <div id="i-eAadhaar" class="forms animation">
            <p class="markedfields">* Marked fields are mandatory</p>
            <form
              th:action="@{/IDBI/API/redirect}"
              method="post"
              id="main-form"
            >
              <div class="name-fail">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <p>Name field cannot be empty</p>
              </div>
              <div class="name common">
                <label for="name"
                  >Name: <span style="color: red">*</span></label
                >
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Full Name"
                  onpaste="return false;"
                  ondrop="return false;"
                  autocomplete="off"
                />
                <div class="name-fail">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <p>Name field cannot be empty</p>
                </div>
              </div>
              <div class="dob-fail">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <p>Kindly select your date of birth</p>
              </div>
              <div class="dob common">
                <label for="dob">DOB: <span style="color: red">*</span></label>
                <input
                  type="date"
                  placeholder="Date of birth"
                  id="dob"
                  name="dob"
                  onpaste="return false;"
                  ondrop="return false;"
                  autocomplete="off"
                />
                <div class="dob-fail">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <p>Kindly select your date of birth</p>
                </div>
              </div>
              <div class="aadhar-fail">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <p>Aadhaar field cannot be empty</p>
              </div>
              <div class="aadhar common">
                <label for="aadhar"
                  >Aadhaar Number: <span style="color: red">*</span></label
                >
                <div class="aadhar-inputs">
                  <input
                    type="text"
                    placeholder="XXXX"
                    id="aadhar-1"
                    name="t1"
                    maxlength="4"
                    onpaste="return false;"
                    ondrop="return false;"
                    autocomplete="off"
                  /><span>-</span>
                  <input
                    type="text"
                    placeholder="XXXX"
                    id="aadhar-2"
                    name="t2"
                    maxlength="4"
                    onpaste="return false;"
                    ondrop="return false;"
                    autocomplete="off"
                  /><span>-</span>
                  <input
                    type="text"
                    placeholder="XXXX"
                    id="aadhar-3"
                    maxlength="4"
                    name="t3"
                    onpaste="return false;"
                    ondrop="return false;"
                    autocomplete="off"
                  />
                </div>
                <div class="aadhar-fail">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <p>Aadhaar field cannot be empty</p>
                </div>
              </div>
              <div class="address-fail">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <p>Address field cannot be empty</p>
              </div>
              <div class="address common">
                <label for="address"
                  >Address: <span style="color: red">*</span></label
                >
                <div class="address-container">
                  <input
                    type="text"
                    id="address1"
                    placeholder="Address 1"
                    onpaste="return false;"
                    ondrop="return false;"
                    autocomplete="off"
                    maxlength="128"
                  />
                  <input
                    type="text"
                    id="address2"
                    placeholder="Address 2"
                    onpaste="return false;"
                    ondrop="return false;"
                    autocomplete="off"
                    maxlength="128"
                  />
                  <input
                    type="text"
                    id="address3"
                    placeholder="Address 3"
                    onpaste="return false;"
                    ondrop="return false;"
                    autocomplete="off"
                    maxlength="128"
                  />
                </div>
                <div class="address-fail">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <p>address field cannot be empty</p>
                </div>
              </div>
              <!-- added now -->
              <div class="fail">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <p>Mobile number must be of 10-digits</p>
              </div>
              <div class="success">
                <i class="fa fa-check" aria-hidden="true"></i>
                <p>Mobile number verified successfully. Click Submit</p>
              </div>
              <!-- added now end -->
              <div class="mobile common">
                <label for="mobile"
                  >Mobile Number: <span style="color: red">*</span></label
                >
                <input
                  type="text"
                  id="mobile"
                  name="mobileNo"
                  placeholder="mobile number"
                  maxlength="10"
                  onpaste="return false;"
                  ondrop="return false;"
                  autocomplete="off"
                />
                <div class="preloader-container">
                  <!-- added now mobile validation errors -->
                  <div class="fail">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <p>Mobile number must be of 10-digits</p>
                  </div>

                  <!-- <div class="preloader-tub">
                    <div class="preloader"></div>
                    <p>waiting for verification</p>
                  </div> -->
                  <div class="success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Mobile number verified successfully. Click Submit</p>
                  </div>
                  <!-- <div class="fail">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <p>failed to verify your mobile number.</p>
                  </div> -->
                  <!-- added now mobile verification end -->
                </div>
              </div>

              <div class="notes">
                <h3>Note:</h3>
                <ul>
                  <li>Enter name as mentioned in your aadhaar card.</li>
                  <li>
                    If mobile verification fails, try again by pressing the
                    reset button.
                  </li>
                  <li>Input fields with the asterisk must be filled.</li>
                  <li>
                    Enter proper Aadhaar number without the hyphen eg:-
                    1234567891 <strike>1234-2345-12345</strike>
                  </li>
                </ul>
              </div>

              <div class="buttons">
                <button type="submit" id="main-submit">Submit</button>
                <button type="reset" id="reset">Reset</button>
              </div>
            </form>
          </div>
          <!-- <div id="profile" class="forms"><h1 style="font-size: 3rem">coming soon...</h1></div> -->
          <!-- <div id="settings" class="forms">profile page</div>
          <div id="user" class="forms">profile page</div>
          <div id="language" class="forms">profile page</div>
          <div id="help" class="forms">profile page</div>
          <div id="logout" class="forms">logout</div> -->
        </div>
      </div>
    </section>

    <script>
      // sidebar
      const sidebutton = document.querySelector(".sidebar-navbar button");
      const sidebarButtons = document.querySelectorAll(".sidebarButton");
      const sidebarNavbarIcons = document.querySelectorAll(
        ".sidebar-navbar img"
      );

      // const logo1 = document.querySelector("#logo1");
      const logo2 = document.querySelector("#logo2");

      // Tabcontainer
      const tabsContainer = document.querySelector(".tabs-container");

      // Tabcontainer Header
      const profilePicture = document.querySelector(
        ".profile-container figure"
      );
      const submenu = document.querySelector(".profile-container .submenu");

      // Forms
      const forms = document.querySelectorAll(".forms");
      const preloader = document.querySelector(".preloader-container");
      const preloaderTube = document.querySelector(
        ".preloader-container .preloader-tub"
      );

      // new changes
      const preloaderSuccess = document.querySelector("#main-form .success");
      const preloaderFail = document.querySelector("#main-form .fail");
      // new changes

      const name = document.getElementById("name");
      const dob = document.getElementById("dob");
      const aadhar = document.getElementById("aadhar");
      const mobileNumber = document.querySelector("#mobile");
      const address1 = document.getElementById("address1");
      const address2 = document.getElementById("address2");
      const address3 = document.getElementById("address3");
      const reset = document.querySelector("#i-eAadhaar form .buttons #reset");
      const mainSubmit = document.getElementById("main-submit");
      const inputs = document.querySelectorAll(".forms input");
      const aadharInputs = document.querySelectorAll(".aadhar-inputs input");
      const nameFailAlert = document.querySelector(".name-fail");
      const dobFailAlert = document.querySelector(".dob-fail");
      const aadharFailAlert = document.querySelector(".aadhar-fail");
      const addressFailAlert = document.querySelector(".address-fail");
      const state = document.getElementById("state");
      const dashboard = document.getElementById("i-eaadhar");
      const loaderVerifyContainer = document.getElementById("loader-verify");

      // Otp Container
      const verify = document.querySelector("#verify");
      const aadhar1 = document.querySelector("#aadhar-1");
      const aadhar2 = document.querySelector("#aadhar-2");
      const aadhar3 = document.querySelector("#aadhar-3");

      // Functions declaration

      // 1. Show and hide sidebar with button click
      function showContainer(e) {
        const title = e.target.innerText;
        console.log(title);
        forms.forEach((item) => {
          if (item.getAttribute("id") === title) {
            item.style.display = "flex";
            item.classList.add("animation");
            this.classList.add("sidebar-button-active");
          } else {
            item.style.display = "none";
            sidebarButtons.forEach((button) => {
              if (button !== this) {
                button.classList.remove("sidebar-button-active");
              }
            });
          }
        });
      }

      // Adding Eventlisteners

      // 1. adding evenetlisteners to sidebar buttons
      sidebarButtons.forEach((button) => {
        button.addEventListener("click", showContainer);
      });

      // sidebar button icon
      sidebutton.addEventListener("click", () => {
        tabsContainer.classList.toggle("tabs-container-active");
        // logo1.classList.toggle("inactive");
        logo2.classList.toggle("inactive");
      });

      // submenu
      // profilePicture.addEventListener("click", showSubmenu);
      // profilePicture.addEventListener("mouseenter", showSubmenu);

      // window.addEventListener("click", () =>
      //   submenu.classList.remove("showSubmenu")
      // );
      aadharInputs.forEach((input) => {
        input.addEventListener("keypress", function (e) {
          var char = String.fromCharCode(e.which);
          if (!/[0-9]/.test(char)) {
            e.preventDefault();
          }
        });
      });

      dob.addEventListener("click", () => {
        dobFailAlert.style.display = "none";
        dob.style.border = "none";
        if (e.key === "Enter") {
          aadhar1.focus();
          e.preventDefault();
        }
      });

      name.addEventListener("click", () => {
        nameFailAlert.style.display = "none";
        name.style.border = "none";
      });

      name.addEventListener("keypress", function (e) {
        var char = String.fromCharCode(e.which);
        if (!/^[A-Za-z ]+$/.test(char)) {
          e.preventDefault();
        }
        if (e.key === "Enter") {
          dob.focus();
          // e.preventDefault();
        }
      });

      aadhar1.addEventListener("click", () => {
        aadhar1.style.border = "none";
        aadhar2.style.border = "none";
        aadhar3.style.border = "none";
        aadharFailAlert.style.display = "none";
        // mobileNumber.setAttribute("disabled", false);
      });

      aadhar1.addEventListener("keyup", function (e) {
        const length = e.target.value.length;
        const maxlength = parseInt(this.getAttribute("maxlength"));
        if (length === maxlength) {
          aadhar2.focus();
        }
      });

      address1.addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
          address2.focus();
          e.preventDefault();
        }
      });

      address2.addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
          address3.focus();
          e.preventDefault();
        }
      });

      address3.addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
          mobileNumber.focus();
          e.preventDefault();
        }
      });

      aadhar2.addEventListener("keyup", function (e) {
        const length = e.target.value.length;
        const maxlength = parseInt(this.getAttribute("maxlength"));
        if (length === maxlength) {
          aadhar3.focus();
        }
      });

      aadhar3.addEventListener("keyup", function (e) {
        const length = e.target.value.length;
        const maxlength = parseInt(this.getAttribute("maxlength"));
        if (length === maxlength) {
          address1.focus();
        }
      });

      address1.addEventListener("click", function (e) {
        address1.style.border = "none";
        addressFailAlert.style.display = "none";
        address3.style.border = "none";
        address2.style.border = "none";
      });

      mobileNumber.addEventListener("click", () => {
        if (name.value === "") {
          name.style.border = "2px solid red";
          nameFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
        }
        if (dob.value === "") {
          dob.style.border = "2px solid red";
          dobFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
        }
        if (!aadhar1.value || !aadhar2.value || !aadhar3) {
          aadhar1.style.border = "2px solid red";
          aadhar2.style.border = "2px solid red";
          aadhar3.style.border = "2px solid red";
          aadharFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
        }
        if (!address1.value && !address2.value && !address3.value) {
          address1.style.border = "2px solid red";
          address2.style.border = "2px solid red";
          address3.style.border = "2px solid red";
          addressFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
        }
        mobileNumber.style.border = "green";
      });

      // added now
      mobileNumber.addEventListener("keypress", function (e) {
        preloaderFail.style.display = "none";
        var char = String.fromCharCode(e.which);
        console.log(char);
        if (!/[0-9]/.test(char)) {
          e.preventDefault();
        }
        if (mobileNumber.value.length < 9) {
          preloaderSuccess.querySelector("p").innerText =
            "Mobile Number must be of 10-digits";
          preloaderSuccess.style.display = "flex";
          preloaderSuccess.style.color = "green";
          mobileNumber.style.border = "2px solid green";
        }
        if (mobileNumber.value.length === 9) {
          preloaderSuccess.style.display = "none";
        }
        // e.preventDefault();
      });

      inputs.forEach((input) => {
        input.addEventListener("keydown", () => {
          input.setAttribute(
            "oninput",
            "this.value = this.value.toUpperCase()"
          );
        });
      });

      reset.addEventListener("click", () => {
        // preloaderTube.style.display = "none";
        preloaderFail.style.display = "none";
        preloaderSuccess.style.display = "none";
        inputs.forEach((button) => button.removeAttribute("disabled"));
        nameFailAlert.style.display = "none";
        addressFailAlert.style.display = "none";
        aadharFailAlert.style.display = "none";
        dobFailAlert.style.display = "none";
        mobileNumber.style.border = "none";
        name.style.border = "none";
        dob.style.border = "none";
        address1.style.border = "none";
        address2.style.border = "none";
        address3.style.border = "none";
        aadhar1.style.border = "none";
        aadhar2.style.border = "none";
        aadhar3.style.border = "none";
        console.log("reset");
      });

      mainSubmit.addEventListener("click", (e) => {
        // added now
        if (mobileNumber.value === "") {
          preloaderFail.querySelector("p").innerText =
            "Mobile field cannot be empty";
          mobileNumber.style.border = "2px solid red";
          preloaderFail.style.display = "flex";
          preloaderSuccess.style.display = "none";
          e.preventDefault();
        }
        // added now (end)

        if (name.value === "") {
          name.style.border = "2px solid red";
          nameFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
          e.preventDefault();
        }
        if (dob.value === "") {
          dob.style.border = "2px solid red";
          dobFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
          e.preventDefault();
        }
        if (!aadhar1.value || !aadhar2.value || !aadhar3) {
          aadhar1.style.border = "2px solid red";
          aadhar2.style.border = "2px solid red";
          aadhar3.style.border = "2px solid red";
          aadharFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
          e.preventDefault();
        }
        if (!address1.value && !address2.value && !address3.value) {
          address1.style.border = "2px solid red";
          address2.style.border = "2px solid red";
          address3.style.border = "2px solid red";
          addressFailAlert.style.display = "flex";
          // mobileNumber.setAttribute("disabled", true);
          e.preventDefault();
        }
      });

      //=================================================

      // mobile responsive

      const sidebarButton = document.getElementById("sidebar-button");
      const sidebar = document.getElementById("mobile-sidebar");
      const sidebarBarOne = document.querySelector(".sidebar-button__bar-one");
      const sidebarBarTwo = document.querySelector(".sidebar-button__bar-two");
      const allButtons = document.querySelectorAll(
        ".sidebar-buttons-container button"
      );

      allButtons.forEach((button) => {
        button.addEventListener("click", function () {
          console.log(this.innerText);
          if (this.innerText !== "Logout") {
            sidebar.classList.remove("active-sidebar");
          }
          this.classList.add("sidebar-button-active");
          sidebarBarOne.classList.toggle("sidebar-button__bar-one-active");
          sidebarBarTwo.classList.toggle("sidebar-button__bar-two-active");
        });

        // if (
        //   !button.innerText === "dashboard" ||
        //   button.innerText === "logout"
        // ) {
        //   button.classList.remove("sidebar-button-active");
        // }
      });

      sidebarButton.addEventListener("click", () => {
        console.log(sidebarBarOne);
        console.log(sidebarBarTwo);
        sidebar.classList.toggle("active-sidebar");
        sidebarBarOne.classList.toggle("sidebar-button__bar-one-active");
        sidebarBarTwo.classList.toggle("sidebar-button__bar-two-active");
      });

      // mobile responsive end
    </script>
  </body>
</html>
